#teacherWrapper{
  width:80%;
  margin-top: 3%;
  margin-right:10%;
  margin-left: 10%;
  height:auto;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(7, 1fr);
}

#teacherWrapper #heading{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  grid-column:1/8;
  grid-row: 1/2
}

#teacherActions{
  background-color: #ddd;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  grid-column:1/8;
  grid-row: 2/3
}

#teacherActions h4{
  position:relative;
  left:43%;
}

#teacherActions #createGameBTN{
  position:relative;
  left:50%;
}

#teacherActions #endGameBTN{

  position:relative;
  left:30%;
}

#calculator{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  grid-column:4/8;
  grid-row: 3/4
}

#teacherInput{
  background-color: #ddd;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  grid-column:1/4;
  grid-row: 3/4;
  height: 100%;
  padding: 10px
}

#teacherInput form{
  position: relative;
  top: 35%;
  left: 25%
}

#teacherInput #enterProblemBTN{
  position: relative;
  left: 50%
}

#output{
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  grid-column:1/8;
  grid-row: 4/5;
  padding: 10px
}
#studentInfo{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  grid-column:1/8;
  grid-row: 5/6;
  background-color:white;
  padding:10px;
}
